.btn {
  width: 25%;
}

.button_container {
  width: 100%;
  padding-left:0px;
  padding-right: 0px;
}

.proj_title{
  text-align: center;
  padding: 10px;
  color: #59a091;
}

tbody tr:nth-child(even) {
    background-color: #a9f2e4;
}

tbody tr:hover{
    background-color: #eeffd8;
}
