.btn {
  width: 25%;
}

.button_container {
  width: 100%;
  padding-left:0px;
  padding-right: 0px;
}

.proj_title{
  text-align: center;
  padding: 10px;
  color: #59a091;
  font-family: 'Fugaz One', cursive;
  font-size: 50px;
}

tbody tr:nth-child(even) {
    background-color: #c9fff4;
}

tbody tr:hover{
    background-color: #f4efff;
}

td {
    font-family: 'Forum', cursive;
    color: #4b6d66;
}

.table_heading {
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    font-size: 30px;
    color: #4b6d66;
    font-family: 'Unica One', cursive;
}

.cat_heading {
    font-size: 35px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.load_text {
    font-size: 35px;
    fill: #4b6d66;
}
